body{
	background-color: rgb(250, 250, 250);
}

.container-geral{
	text-align: center;
	align-items: center;
}

#listaAlimentos{
	height: 30px;
}

.list-group-item-action:hover{
	background-color: #B5F7D2;
}

.btn-confirmar{
	background-color: #57A777;
	color: white;
}

.btn-confirmar:hover{
	background-color: #67C28B;
	color: white;
}
