body{
	background-color: rgb(250, 250, 250);
}

#containerAnamnese{
	background-color: white;
	border-style: solid;
	border-radius: 5px;
	border-width: 0.5px;
	border-color: #C0C0C0;
	margin-bottom: 50px;
	max-width: 800px;
}

.subtitulos{
	font-size: 105%; 
	text-align: center; 
	font-weight: bold;
}

.divisores{
	border: 0.5px solid;
}

#motivoLabel, #motivoRuim{
	display: none;
}