body{
	background-color: rgb(250, 250, 250);
}

#titulo{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 35px;
}

#listaPacientes{
	text-align: left;
	align-items: center;
}

.list-group-item-action:hover{
	background-color: #B5F7D2;
}

#pacienteEscolhido{
	display: none;
}

#containerGeral{
	text-align: center;
}