body{
	background-color: rgb(250, 250, 250);
}

#infoPaciente{
	text-align: left;
}

#infoPaciente p{
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}

#infoDiagnostico{
	background-color: white;
	border-style: solid;
	border-radius: 5px;
	border-width: 0.5px;
	border-color: #C0C0C0;
	margin-bottom: 50px;
	max-width: 650px;
}

#infoDiagnostico input{
	background-color: white;
	padding: 0px;
}
#dataConsulta{
	width: 95px;
}

.inputsDiag input{
	width: 50px;
}

#botaoSalvar{
	background-color: #7DC69E;
	color: white;
}

#botaoSalvar:hover{
	background-color: #69B189;
	color: white;
}

#botaoPlano{
	font-weight: bold;
}