body{
	background-color: rgb(250, 250, 250);
}

#infoPaciente{
	text-align: left;
}

#infoPaciente p{
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}

#titulo{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 33px;
}

#listaConsultas{
	align-items: center;
	text-align: left;
}

.list-group-item-action{
	cursor: pointer;
}

.list-group-item-action:hover{
	background-color: #B5F7D2;
}

#rowConsulta{
	text-align: center;
}

#consultaEscolhida{
	display: none;
}